/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    margin : 0px;
    width : 100%;
    max-height : 100%;
    overflow-x : hidden;
}

.overview-map > .ol-viewport {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
}

.active-link {
    background: #fff;
    color : #000 !important;
}


chart {
    width: 100% !important;
    display : block;
    height: 200px;
}