/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    margin : 0px;
    width : 100%;
    max-height : 100%;
    overflow-x : hidden;
}

.overview-map > .ol-viewport {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
}

.active-link {
    background: #fff;
    color : #000 !important;
}


chart {
    width: 100% !important;
    display : block;
    height: 200px;
}

.ol-rotate {
    top: 3em !important;
}

.card-margin {
    margin : 15px 10px 5px 10px;
}

md-toolbar {
    position: fixed !important;
}

.admin-page-margin {
    margin-top : 70px;
}

table.dataTable td {
    text-align: center;
}

.error-msg {
    border-left: 3px solid #ff0000;
    padding: 10px;
    margin-top: 5px;
    background: rgba(255, 0, 0, 0.15);
}

.loader {
    background: rgba(0,0,0,0.3) !important;
}

#search-tab .mat-tab-body-wrapper {
    /*overflow : scroll;*/
}