/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    margin : 0px;
    width : 100%;
    max-height : 100%;
    overflow-x : hidden;
}

.overview-map > .ol-viewport {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
}

.active-link {
    background: #f3e5f5;
    font-weight: bold;
}


chart {
    width: 100% !important;
    display : block;
    height: 200px;
}

.ol-rotate {
    top: 3em !important;
}

.card-margin {
    margin : 15px 10px 5px 10px;
}

md-toolbar {
    position: fixed !important;
}

.admin-page-margin {
    margin-top : 70px;
}

table.dataTable td {
    text-align: center;
}

.error-msg {
    border-left: 3px solid #ff0000;
    padding: 10px;
    margin-top: 5px;
    background: rgba(255, 0, 0, 0.15);
}

.loader {
    background: rgba(0,0,0,0.3) !important;
}

.overflow-hidden {
    overflow: hidden;
}

.paginate_button {
    color : #000;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
}

.paginate_button.current {
    background: #673ab7;
    color : #fff;
}

.paginate_button:hover:not(.current){
    background: rgba(0,0,0,0.2);
}

.dataTables_length label select {
    width: 100%;
    height: 30px;
    border : 1px solid rgba(0,0,0,0.15);
    background: #f7f7f7;
}

.dataTables_filter label input {
    width: 100%;
    height : 30px;
    background: #f7f7f7;
    margin-left: 0px !important;
    margin-top: 5px;
    border : 1px solid rgba(0,0,0,0.15);
    transition-property: border-color, border-size;
    transition-duration: 0.5s;
}

.dataTables_filter label input:focus {
    border-bottom: 3px solid #673ab7;
}

.dataTables_scroll {
    overflow: hidden;
}

.dataTables_scrollBody {
    /*padding-right: 17px;*/
    margin-bottom: -12px;
}

.fp-controlArrow.fp-next {
    bottom: 4.7em;
    top: auto;
}

.fp-controlArrow.fp-prev {
    bottom: 4.7em;
    top: auto; 
}

.mdl-data-table thead tr th {
    text-align: center;
}

.mdl-data-table{position:relative;border:1px solid rgba(0,0,0,.12);border-collapse:collapse;white-space:nowrap;font-size:13px;background-color:#fff}.mdl-data-table thead{padding-bottom:3px}.mdl-data-table thead .mdl-data-table__select{margin-top:0}.mdl-data-table tbody tr{position:relative;height:48px;transition-duration:.28s;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-property:background-color}.mdl-data-table tbody tr.is-selected{background-color:#e0e0e0}.mdl-data-table tbody tr:hover{background-color:#eee}.mdl-data-table td,.mdl-data-table th{padding:0 18px 12px;text-align:right}.mdl-data-table td:first-of-type,.mdl-data-table th:first-of-type{padding-left:24px}.mdl-data-table td:last-of-type,.mdl-data-table th:last-of-type{padding-right:24px}.mdl-data-table td,.mdl-data-table th{position:relative;height:48px;box-sizing:border-box}.mdl-data-table td{border-top:1px solid rgba(0,0,0,.12);border-bottom:1px solid rgba(0,0,0,.12);padding-top:12px;vertical-align:middle}.mdl-data-table td .mdl-data-table__select{vertical-align:middle}.mdl-data-table th{vertical-align:bottom;text-overflow:ellipsis;font-weight:700;line-height:24px;letter-spacing:0;font-size:12px;color:rgba(0,0,0,.54);padding-bottom:8px}.mdl-data-table th .mdl-data-table__header--sorted-ascending,.mdl-data-table th .mdl-data-table__header--sorted-descending{color:rgba(0,0,0,.87)}.mdl-data-table th .mdl-data-table__header--sorted-ascending:before,.mdl-data-table th .mdl-data-table__header--sorted-descending:before{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;word-wrap:normal;-moz-font-feature-settings:'liga';font-feature-settings:'liga';-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}.mdl-data-table th .mdl-data-table__header--sorted-ascending:before{content:"\e5d8"}.mdl-data-table th .mdl-data-table__header--sorted-descending:before{content:"\e5db"}.mdl-data-table__select{width:16px}.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric{text-align:left}

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-tab-body-content {
    overflow: hidden !important;
}