<div [@routerTransition]="" style="position : absolute; top : 0px; bottom : 0px; left : 0px; right : 0px;">
  <video height="100%" ontimeupdate="if(this.currentTime >= 60 ){ this.pause(); }" onpause="this.currentTime= 10; this.play();" width="100%" onloadedmetadata="this.muted = true" muted loop autoplay style="object-fit : cover; opacity : 0.6; position : fixed; top : 0px; bottom : 0px; left : 0px; right : 0px;">
    <source src="http://localhost:3000/static/video.webm" type="video/webm" >
  </video>
</div>

<div class="container-sections" [@routerTransition]="">
  fñldkfdlk<br>
  fdlkdfñlkfd<br>
  fdñlkdfñlkfd<br>
  fdñlkfdñlkfd<br>
  fdñlkfdñlkfdfd<br>
  fdñlkdfñlkfdfdñ7<br>
  fdñlkdfñlkfdfdñ7ñl<br>
  fdkñlkfdñlkfd<br>
  fñldkfdlk<br>
  fdlkdfñlkfd<br>
  fdñlkdfñlkfd<br>
  fdñlkfdñlkfd<br>
  fdñlkfdñlkfdfd<br>
  fdñlkdfñlkfdfdñ7<br>
  fdñlkdfñlkfdfdñ7ñl<br>
  fdkñlkfdñlkfd<br>
    fñldkfdlk<br>
  fdlkdfñlkfd<br>
  fdñlkdfñlkfd<br>
  fdñlkfdñlkfd<br>
  fdñlkfdñlkfdfd<br>
  fdñlkdfñlkfdfdñ7<br>
  fdñlkdfñlkfdfdñ7ñl<br>
  fdkñlkfdñlkfd<br>
    fñldkfdlk<br>
  fdlkdfñlkfd<br>
  fdñlkdfñlkfd<br>
  fdñlkfdñlkfd<br>
  fdñlkfdñlkfdfd<br>
  fdñlkdfñlkfdfdñ7<br>
  fdñlkdfñlkfdfdñ7ñl<br>
  fdkñlkfdñlkfd<br>


  <md-grid-list cols=4 rowHeight="100px">
    <md-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </md-grid-tile>
  </md-grid-list>


</div>