<loading-animate></loading-animate>
<md-card>
  <md-card-header>
    <md-card-title>Nombre del grupo : {{groupData?.name}}</md-card-title>
    <md-card-subtitle>ID del grupo : {{groupData?.id}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-input-container style="width : 100%">
      <input mdInput [(ngModel)]="groupData.name" placeholder="Nuevo nombre del grupo" value="">
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button [disabled]="!groupData?.name || groupData?.name.length < 3" md-button (click)="changeGroupName()">ACTUALIZAR</button>
  </md-card-actions>
</md-card>