<loading-animate></loading-animate>

<md-card style="width : 80%; margin : 0 auto; margin-top : 20px;">
  <md-card-header>Recupera tu cuenta</md-card-header>
  <md-card-content>
    <md-input-container>
      <input [(ngModel)]="password" placeholder ="Contraseña" mdInput type="password">
    </md-input-container>
    <md-input-container>
      <input [(ngModel)]="repassword" placeholder = "Repetir contraseña" mdInput type="password">
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="updatePassword()">Actualizar</button>
  </md-card-actions>
</md-card>