
<h1 md-dialog-title>Iniciar Sesión</h1>
<div md-dialog-content>
  <md-input-container style="width : 100%" >
    <input mdInput [(ngModel)]="userNotLoggedParams.nameOrEmail" placeholder="Usuario o Email" value="">
  </md-input-container>
  <md-input-container style="width : 100%">
    <input mdInput [(ngModel)]="userNotLoggedParams.password" placeholder="Contraseña" type="password" value="">
  </md-input-container>
</div>
<div md-dialog-actions>
  <button md-button (click)="login()">Iniciar</button>
  <button md-button (click)="dialogRef.close('Option 2')">Cancelar</button>
</div>