<div [@routerTransition]="" class="admin-page-margin">
  <md-card class="card-margin">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>Mapas</md-card-title>
      <md-card-subtitle>Todos los mapas</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <table datatable [dtOptions]="dtOptionsMaps" class="row-border hover" width="100%"></table>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goToCreateMap()">CREAR UN MAPA</button>
    </md-card-actions>
  </md-card>

  <md-card class="card-margin">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>Mapas</md-card-title>
      <md-card-subtitle>Mapas default</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <table datatable [dtOptions]="dtOptionsDefaultMaps" class="row-border hover" width="100%"></table>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goToCreateDefaultMap()">DECLARAR UN MAPA POR DEFECTO</button>
    </md-card-actions>
  </md-card>
</div>