.spacer {
  -webkit-box-flex : 1;
  -ms-flex : 1 1 auto;
  flex : 1 1 auto;
}

md-toolbar button {
  justify-content: space-around;
  margin-left: 5px;
}

.logo-betera {
  height: 100%;
}

title {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
}

@media screen and (max-width: 480px) {
  md-toolbar button {
    visibility: hidden;
  }
}
