.spacer {
  -webkit-box-flex : 1;
  -ms-flex : 1 1 auto;
  flex : 1 1 auto;
}

md-toolbar {
    height: 50px !important;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
    position: relative;
    z-index: 2;
}

md-toolbar button {
  justify-content: space-around;
  margin-left: 5px;
}

.logo-betera {
  height: 100%;
}

title {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
}


@media screen and (max-width: 480px) {
  md-toolbar button {
    visibility: hidden;
  }

}

.container-router {
  position : absolute;
  top : 64px;
  bottom : 0px;
  left: 0px;
  right: 0px;
}

@media (max-width:600px) and (orientation:portrait) {
  .container-router {
    position : absolute;
    top : 56px;
    bottom : 0px;
    left: 0px;
    right: 0px;
  }
}
@media (max-width:960px) and (orientation:landscape) {
  .container-router {
    position : absolute;
    top : 48px;
    bottom : 0px;
    left: 0px;
    right: 0px;
  }
}