<loading-animate></loading-animate>
<div [@routerTransition]="" class="admin-page-margin">
  <md-card class="card-margin">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>Mapas</md-card-title>
      <md-card-subtitle>Mapas por defecto</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-select placeholder="Elige mapa para hacer por defecto" [(ngModel)]="selectedMap">
        <md-option *ngFor="let map of allMapsNotDefault | async" [value]="map.id">
          {{map.name}}
        </md-option>
      </md-select>
    </md-card-content>
    <md-card-actions>
      <button md-button [disabled]="!selectedMap" (click)="createDefaultMap()">CREAR MAPA</button>
    </md-card-actions>
  </md-card>
</div>