.container-sections {
    width: 100%;
    height : auto;
    text-align: center;
    background: rgba(66, 143, 244, .1)
}

.mat-card-image {
    height: 250px;
    object-fit: cover;
}

.card {
    margin : 10px auto;
    width : 40%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width:900px){
    .card {
        width: 80%;
    }
}

.fp-table:not(.has-slides) .fp-tableCell {
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotate(-5deg) scale(0.2) rotate(-45deg);
    filter : blur(5px);
    border-radius: 100%;
    opacity: 0.2;
    box-shadow: 0 2px 12px 8px rgba(0,0,0,0.25);
}

.fp-table.active:not(.has-slides) .fp-tableCell {
    transform: rotate(0deg) scale(0.9) rotate(0deg);
    opacity: 0.7;
    border-radius : 4px;
    filter: blur(0px);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.fp-table.active .caption {
    transform: translateX(0%);
    background: rgba(0,0,0,0.4);
}

.caption {
    transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: translateX(-200%);
    position: absolute;
    background: rgba(0,0,0,0);
    top : 5%;
    left : 5%;
    right: 5%;
    z-index: 1001;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.caption h1 {
    color : #fff;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}