<button
  md-mini-fab class="burguer" 
  [ngClass]="{'burguer-expanded': sidenav.opened }"
  (click)="sidenav.opened ? sidenav.close() : sidenav.open();">
  <md-icon>add</md-icon>
</button>
<md-sidenav-container [@routerTransition]="" class="example-container">
  <md-sidenav #sidenav class="example-sidenav">

    <button md-button class="list-button main" (click)="toggleTools()">
      <md-icon>apps</md-icon>HERRAMIENTAS
    </button>

    <div #mapTools class="collapsed">
      <button md-button class="list-button" (click)="toggleProfileControl()">
        <md-icon>terrain</md-icon>PERFIL
      </button>
    </div>

    <button md-button class="list-button main" (click)="toggleMaps()">
      <md-icon>layers</md-icon>MAPAS
    </button>
    <!-- control de capas -->
    <app-layer-switcher [map]="map" (layersChanged)="updateMapAndOverview()"></app-layer-switcher>
    <!-- END control de capas -->
    <button md-button class="list-button main" (click)="overviewMap.classList.toggle('collapsed')">
      <md-icon>map</md-icon>MINIATURA
    </button>
    <div #overviewMap class="overview-map" style="flex : 1 1 auto; height : 300px; padding : 5px 20px 10px 20px;"></div>
    <button md-button class="list-button main">
      <md-icon>file_download</md-icon>DESCARGAR MAPA
    </button>

    <button md-button class="list-button main" (click)="openWMSDialog()">
      <md-icon>map</md-icon>AÑADIR WMS
    </button>

  </md-sidenav>
  <div id="map" #mapEl class="example-sidenav-content"
    [ngClass]="{'map-expanded': sidenav.opened }" 
  >    
  </div>

  <app-map-profile
    [map]="map"
  ></app-map-profile>

</md-sidenav-container>
