<md-toolbar #toolbarMenu color="primary" style="text-align: center;">
    <button md-button [routerLink]="['/admin']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Inicio
    </button>
    <button md-button [routerLink]="['/admin', 'users']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Usuarios
    </button>
    <button md-button [routerLink]="['/admin', 'maps']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Mapas
    </button>
    <button md-button [routerLink]="['/admin', 'layers']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Capas
    </button>
    <button md-button [routerLink]="['/admin', 'mail']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Mail
    </button>
</md-toolbar>
<router-outlet></router-outlet>
