<div #mapsDetailsContainer *ngIf="map && map.getLayers()" class="list" [dragula]='"layers"' [dragulaModel]='map.getLayers().getArray()'>
  <div class="list-item" [style.display]="getDisplay(layer)" *ngFor="let layer of map.getLayers().getArray(); let i = index; ">
    <div class="buttons">
      <button md-button 
        *ngIf="i > 0" 
        (click)= "moveLayerDown(i)"><md-icon>keyboard_arrow_up</md-icon></button>
      <button md-button *ngIf="i < map.getLayers().getArray().length - 1" (click)="moveLayerUp(i)"><md-icon>keyboard_arrow_down</md-icon></button>
    </div>
    <div class="content">
      <md-slide-toggle (change)="changeVisible($event, i)" [checked]="layer.getVisible()">
        {{ layer.get('name') }}
      </md-slide-toggle>
      <md-slider (input)="changeOpacity($event, i)" step="0.05" [min]="0" [max]="1" [value]="layer.getOpacity()">
      </md-slider>
      <div class="actions" [style.display]="getDisplay(layer)">
        <div class="separator"></div>
        <button *ngIf="layer.get('layers')" md-button (click)="groups._results[i].nativeElement.classList.toggle('collapsed')"><md-icon>add</md-icon></button>
        <!--<button md-button><md-icon>zoom_out_map</md-icon></button>-->
        <!--<button md-button><md-icon>map</md-icon></button>-->
        <button md-button class="handle" style="float : right;"><md-icon>drag_handle</md-icon></button>
      </div>
    </div>
    <div #group class="group collapsed">
      <div *ngIf="layer.get('layers')" [dragula]='"layerGroup"' [dragulaModel]="layer.get('layers').getArray()">
        <div class="list-item" *ngFor="let layer_ of layer.get('layers').getArray(); let j = index">
          <div class="buttons">
            <button *ngIf="j > 0" md-button (click)="moveLayerInGroupDown(i, j)"><md-icon>keyboard_arrow_up</md-icon></button>
            <button *ngIf="j < layer.get('layers').getArray().length - 1" md-button (click)="moveLayerInGroupUp(i, j)"><md-icon>keyboard_arrow_down</md-icon></button>
          </div>
          <div class="content">
            <md-slide-toggle (change)="changeVisibleGroupLayer($event, i, j)" [checked]="layer_.getVisible()">
              {{ layer_.get('name') }}
            </md-slide-toggle>
            <md-slider (input)="changeOpacityGroupLayer($event, i, j)" step="0.05" [min]="0" [max]="1" [value]="layer_.getOpacity()">
            </md-slider>
            <div class="actions">
              <div class="separator"></div>
              <button md-button><md-icon>info</md-icon></button>
              <!--<button md-button><md-icon>zoom_out_map</md-icon></button>-->
              <!--<button md-button><md-icon>map</md-icon></button>-->
              <button md-button class="handleGroup" style="float : right;"><md-icon>drag_handle</md-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>