<div [@routerTransition]="" class="admin-page-margin">
  <md-card class="card-margin">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>Nueva Capa Base</md-card-title>
      <md-card-subtitle>Carga una capa de un servicio WMS remoto</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-input-container style="width : 100%;">
        <input mdInput [(ngModel)]="serviceUrl" placeholder="url del servidor o capabilities"  value="">
      </md-input-container>
      <button [disabled]="capas" md-button (click)="getCapabilities()" style="width : 100%;">OBTENER CAPAS</button>
      <button *ngIf="capas" md-button (click)="reset()" style="width : 100%;">LIMPIAR CAMPOS</button>
      <div *ngIf="error" class="error-msg">{{error}}</div>
      <md-list *ngIf="capas" style="height : 150px; overflow-y: scroll;">
        <h3 md-subheader>Capas del servicio</h3>
        <md-list-item *ngFor="let capa of capas">
          <md-checkbox (change)="onChangeCheckbox($event, capa.Name)">{{capa.Name}}</md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions>
      <button md-button *ngIf="capasSeleccionadas.length" (click)="addBaseLayer()">AÑADIR CAPA BASE</button>
    </md-card-actions>
  </md-card>
</div>